/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  /*background-image: url('./assets/cold-bg.jpg');*/
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

/*.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}*/

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, white, rgba(178, 224, 241, 0.932));
  padding: 25px;
}

